.navbar {
  height: 37px;
}

a:hover {
  text-decoration: none;
}

.main-name {
  font-size: 20px;
}

.second-nav {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

}

.fa, .fas {
  font-weight: 900;
}

.icon-sm {
  font-size: 17px;
}

.nav-item {
  margin-left: 1em;
}

.second-link {
  font-size: 18px;
  color: #1c1c1c;
}

.padding-y-sm {
  padding-top: 40px;
  padding-bottom: 20px;
}

a .second-link {
  color: black;
}

.section-gap {
  padding: 100px 0;
}

.single-features .f-icon {
  margin-bottom: 20px;
}

.single-features {
  text-align: center;
  border-right: 1px solid #eeeeee;
}


.features-inner {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 40px 0;
}

.trending {
  text-align: center;
  margin-bottom: 1em;
  color: #2c2d3f;
  font-weight: bold;
}


.centrar {
  text-align: center;
}


.list {
  list-style-type: none;
  margin-bottom: 5em; 
}

.items {
  justify-content: center;
}

.center {
  width: auto;
}